
/* ----- INTELLIGENT DEFAULTS ----- */

body{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#515151;
	font-size: 15px;
}

	body *{
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		font-family: 'Source Sans Pro', sans-serif;
	}

h1, h2, h3, h4, h5, h6{
	margin:0;
}

input,
textarea{
	border: 1px solid #5F5F5F;
}

/* ----- RE-USABLE DESIGN PATTERNS ----- */
.focus-show-container{}

	.focus-show-container .focus-show{
		display:none;
	}

	.focus-show-container:focus .focus-show{
		display:block;
	}

/* ----- BOOTSTRAP OVERRIDES ----- */
.list-unstyled li{
	margin:0;
	padding:0;
}

/* ----- LAYOUT ----- */
.site-header{
	background-color: #515151;
}

	.site-header li{}

		.site-header li a{
			border-left: 1px solid #7c7c7c;
			color:#fff;
			display: block;
			line-height: 42px;
			padding: 0 12px;
		}

	.site-header .dropdown-menu{
		border-radius: 0;
		margin:0;
		width:320px;
	}

		.site-header .dropdown-menu li{}

			.site-header .dropdown-menu li.form-control{
				border:none;
				box-shadow:none;
				height:auto;
				padding: 15px;
			}

				.site-header .dropdown-menu li.form-control input{
					font-weight: 400;
					padding: 5px;
					width: 250px;
				}

			.site-header .dropdown-menu li a{
				border: none;
				color:#5F5F5F;
				padding:0 16px;
			}

				.site-header li a .icon{
					line-height: 42px;
				}

